sudo: false
language: python
services:
- mongodb
python:
- '3.6'
- '3.5'
- '2.7'
env:
- MARSHMALLOW_BACKEND=marshmallow
- MARSHMALLOW_BACKEND=toasted
install:
- pip install coveralls pytest-cov
- pip install -r dev-requirements.txt
- pip install -U .[$MARSHMALLOW_BACKEND]
before_script:
- flake8 .
script: py.test --cov=marshmallow_mongoengine
after_success:
- coveralls
deploy:
  provider: pypi
  user: __token__
  on:
    tags: true
    repo: MongoEngine/marshmallow-mongoengine
  password:
    secure: YHBMX30vPdCbPnTclJwWN2PMcRKusvixBpqjrZh6UGhMnVWPwFXUl1RnwuNFVVSK1Wc132TS4jEot254dn6wYY03veMC7FEd5A5njNhtM6LRY+2q/avDYKcPXp4sNOIfLmtJ+o+LTM1Se4Ja+no+8VbbbcM5AFoYrXUGZqx+bQ4ujigIjfLWuAY6PD17lHrPBXPsxM4+iZYbfXe20FAkVoN6pREgQBhfvHALfHWzue6BKnUmBJNNwlw7aUsb5E+6hpXbGPx4PIad3k1CYoQqo/7+89zUndCPoH/anbYj8mkNSSq7xHHT0PxfrUMy/ugR8TdSUixmHCgeYkQgjcikHxYqlK26gVPieFgU+XDy5Yt618UjbyqiU5l92hffaxNYexSFUdWz+WvQPDIp2GolzffA6oTEt1ipgKhCDdUh4Pt7QCJCesw7VUFmSMbjs78xqFsbW45+YRDwSuElvOuIbpK9tQIF15XP6OOPeXCo4+9jahwUn1OLftUv+hYv7Gsf7wgsddi9M0DQ1oWZTwgvakCdZ1a6oXbU+JvkTVMZxlDrl0EJQbOKqUt00780JlTgTYnPlfsO8Ub9ENkwk/nZkniOq/iCRFYhP85bVAledmiyj8tFA8rtNmZbtW/J7x5bedB4fTcjNko8oJEw6H1udPRUlikviul3zK3qLrriH4c=
